* @sfc-gh-cnivera @sfc-gh-jsummer @sfc-gh-twhite @sfc-gh-yayin
/artifacts/ @sfc-gh-cnivera @sfc-gh-yayin @sfc-gh-jsummer
/images/ @sfc-gh-cnivera @sfc-gh-yayin @sfc-gh-jsummer
/journeys/ @sfc-gh-cnivera @sfc-gh-yayin @sfc-gh-jsummer
/partner/ @sfc-gh-cnivera @sfc-gh-yayin @sfc-gh-jsummer
/app.py @sfc-gh-cnivera @sfc-gh-yayin @sfc-gh-jsummer
/app_utils/ @sfc-gh-cnivera @sfc-gh-yayin @sfc-gh-jsummer
/semantic_model_generator/ @sfc-gh-nsehrawat @sfc-gh-rehuang @sfc-gh-dasilva @sfc-gh-cnivera @sfc-gh-yayin
