# Local python environment
pyvenv
*.DS_Store

# Notebook intermediate state
*.ipynb_checkpoints

# Mypy
.mypy_cache

# Pytest
.pytest_cache

# pycache
**/__pycache__

# Python package builds
*.egg-info

# VSCode
.vscode/settings.json
.vscode/launch.json
.vscode/.ropeproject
.vscode/*.log
.vscode/*.json

# Jetbrains
.idea/*

# Envs
.env
.venv
.direnv
.envrc

# Output semantic models
semantic_model_generator/output_models/*.yaml

# test coverage
.coverage